@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
} */




.header{
  position: relative;
  width: 100wh;
  background: transparent;
  display: flex;
  background: rgb(42,42,43);
  background: linear-gradient(90deg, rgba(42,42,43,1) 0%, rgba(217,209,209,1) 100%);
  align-items: center;
  color: rgb(243, 239, 239);
}
.button-1{
 padding: 20px;
 background: transparent;
 color:rgba(42,42,43,1);
 margin: 3px;
 transition: 0.5s;
}
.button-1:hover{
  background-color:rgba(42,42,43,1);
  color:white;
  cursor: pointer;
}
.btnCont{
  margin-left: auto;
}
.list-cont{
  width: 100wh;
  background-color:lightgrey;
  display: flex;
  justify-content: center;
}
.list{
  width: 80%;
  background: rgba(42,42,43,1);
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  color: black;
}

.buttons{
  display: flex;
}
.desc{
  margin:5px;
  border: 1px solid black;
  padding:5px;
  background-color: white;

}
.medName{
  margin:5px;
  border: 1px solid black;
  padding:5px;
  background-color: white;
}
.buttons button{
  margin:2px;
  border: 1px solid black;
  transition: 0.5s;
  padding:5px;
  background-color: white;


}
.buttons button:hover{
  background-color: #334344;
  color: white;
}
